/* Fonts */

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  background-color: #F0F1E9;
}

div {
  display: block;
}

h1, h2, h3, h4 {
  font-family: 'Spartan', sans-serif;
}

h1 {
  letter-spacing: 8px;
  font-size: 40px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* Custom design below! */

